# Virtual environment
.venv
.partial_qec_venv
# MNIST dataset
data/
Scripts/data/
# Python cache
**/__pycache__/
# Jupyter Notebook
.ipynb_checkpoints

# Experimental scripts
torch_parallel_run.slurm

results/

.cache/

**/setonix_setup.sh